/* Global CSS for reusable style */
/* FLEX */
.fl-sh {
  flex-shrink: 0;
}
.fl-fc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl-col {
  display: flex;
  flex-direction: column;
}
.fl-row {
  display: flex;
  flex-direction: row;
}
.ai-center {
  align-items: center;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: flex-start;
}
.jc-end {
  justify-content: flex-end;
}
.jc-between {
  justify-content: space-between;
}
.jc-around {
  justify-content: space-around;
}
.jc-evenly {
  justify-content: space-evenly;
}

@for $i from 1 through 50 {
  .gap-#{$i} {
    gap: #{$i / 10}rem;
  }

  .pa-#{$i} {
    padding: #{$i / 10}rem;
  }
  .pa-left-#{$i} {
    padding-left: #{$i / 10}rem;
  }
  .pa-right-#{$i} {
    padding-right: #{$i / 10}rem;
  }
  .pa-top-#{$i} {
    padding-top: #{$i / 10}rem;
  }
  .pa-bottom-#{$i} {
    padding-bottom: #{$i / 10}rem;
  }

  .ma-#{$i} {
    margin: #{$i / 10}rem;
  }
  .ma-left-#{$i} {
    margin-left: #{$i / 10}rem;
  }
  .ma-right-#{$i} {
    margin-right: #{$i / 10}rem;
  }
  .ma-top-#{$i} {
    margin-top: #{$i / 10}rem;
  }
  .ma-bottom-#{$i} {
    margin-bottom: #{$i / 10}rem;
  }

  .text-#{$i} {
    font-size: #{$i / 10}rem;
  }
}
